<div class="page-header">
  <h1>Bulk Import Products<small> upload the csv files to start the import process</small></h1>
</div>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @import_product } %>

<div class="col-sm-12 content">
  <%= form_for @product_import, url: admin_product_imports_path(@product_import) do |f| %>
    <div class="row">
      <div class="form-group col-sm-6">
        <%= f.label :products_csv, class: 'col-sm-6 control-label' %>
        <%= f.file_field :products_csv, class: 'col-sm-3 form-control' %>
      </div>
    </div>
    <div class="form-actions">
      <%= f.submit" Start", class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
